<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<style type="text/css">
</style>

</head>
<body>
  <% include ../partials/header %>
     <div class="jumbotron">
     <h1>My URLs</h1>
   </div>
         <% if(urlEntries.length === 0){ %>
        <p id="message">You have not generated any URLs</p>
    <% } %>
  <ul class="container">
   <% for(let i = 0; i < urlEntries.length; i++){ %>

   <div class="centerDiv main">
    <div>
      <li id="showURL"><%= urlKeys[i] %><span> : </span><a href='/urls/<%- urlKeys[i] %>'><%=urlEntries[i]%></li></a>
    </div>
    <div>
      <a class="btn btn-info editBTN" href="/urls/<%-urlKeys[i]%>">Edit</a>

    <form method='POST' action='/urls/<%- urlKeys[i]%>?_method=DELETE'>
      <label for="deleteBtn" id="deleteBTN"></label>
      <button class="btn btn-info editBTN" label="deleteBtn" name="deleteBtn"> Delete! </button>
   </form>
   </div>
   <% }; %>
   </div>
  </ul>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

