<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<style type="text/css">
</style>

</head>
<body>
  <% include ../partials/header %>
  <ul>
   <% for(let i = 0; i < urlKeys.length; i++){ %>

   <div class="centerDiv">
      <li id="showURL"><%= urlKeys[i] %><span> : </span><a href='/urls/<%- urlKeys[i] %>'><%=urlEntries[i]%></li></a>
      <a class="btn btn-success editBTN" href="/urls/<%-urlKeys[i] %>">Edit</a>

    <form method='POST' action='/urls/<%- urlKeys[i]%>/delete'>
      <label for="deleteBtn" id="deleteBTN"></label>
      <button class="btn btn-success editBTN" label="deleteBtn" name="deleteBtn"> Delete! </button>
   </form>
   <% }; %>
   </div>
  </ul>

</body>
</html>

